<div class="page-header">
    <h1>Search results</h1>
</div>

<div class="row">
    <div class="animate col-md-4" ng-repeat="product in searchProducts">
        <img src="{{product.image}}" alt="{{product.name}}"/>
        <h2>{{product.name}}</h2>
        <p class="text-muted">{{product.brand}}</p>
        <p>
            <del class="text-muted"><small>{{product.usual_price}}</small></del>
            <strong class="text-primary">{{product.sale_price}}</strong>
        </p>
        <p><a class="btn btn-info" role="button" href="#/products/{{product.id}}">View more &raquo;</a></p>
    </div>
</div>