<ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/upcoming">Upcoming</a></li>
    <li class="active">{{sale.name}}</li>
</ol>

<div class="row">
    <div class="col-md-4">
        <img src="{{sale.image_urls['506x520'][0].url}}" alt="Image"/>
    </div>
    <div class="col-md-8">
        <div class="page-header">
            <h1>{{sale.name}}</h1>
            <p class="text-warning">Begins on {{saleStart}}<br/>Closes on {{saleEnd}}</p>
        </div>
        <p>{{sale.description}}</p>
        <p>Amount: {{sale.size}}</p>
        <p><a href="{{sale.sale_url}}" target="_blank">Watch it on Gilt.com</a></p>
    </div>
</div>