<!DOCTYPE html>
<html lang="en" ng-app="giltApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Gilt study project</title>

  <!-- BOOTSTRAP -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- PROJECT -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]>ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-controller="indexCtrl">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gilt Study Project</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/sales/men">Men</a></li>
          <li><a href="#/sales/women">Women</a></li>
          <li><a href="#/sales/kids">Kids</a></li>
          <li><a href="#/sales/home">Home</a></li>
          <li><a href="#/upcoming">Upcoming</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" ng-submit="searchSubmit()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter keywords" ng-model="searchRequest">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container">

    <div ng-view></div>

    <hr>

    <footer>
      <p>&copy; 2015 Company, Inc.</p>
    </footer>
  </div> <!-- /container -->




  <!-- FOOTER SCRIPTS -->

  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

  <!-- BOOTSTRAP -->
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

  <!-- ANGULAR -->
  <script src="../bower_components/angular/angular.js"></script>
  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>-->
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>

  <!-- PROJECT -->
  <script src="app.js"></script>
  <script src="main/main.js"></script>

  <script src="sales/sales.js"></script>
  <script src="sales/sale.js"></script>

  <script src="product/product.js"></script>

  <script src="upcoming/upcomingSales.js"></script>
  <script src="upcoming/upcomingSale.js"></script>

  <script src="search/search.js"></script>

  <!-- OTHER SCRIPTS -->
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

</body>
</html>
