<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="animate col-md-4" ng-repeat="sale in sales | limitTo : 6">
        <img src="{{sale.image_urls['468x652'][0].url}}" alt="{{sale.name}}"/>
        <h2>{{sale.name}}</h2>
        <p class="text-muted">Categories: {{sale.store}}</p>
        <p>{{sale.description}}</p>
        <p><a class="btn btn-info" href="#/sales/{{sale.store}}/{{sale.sale_key}}" role="button">View more &raquo;</a></p>
    </div>
</div>