<ol class="breadcrumb">
  <li><a href="#/home">Home</a></li>
  <li><a href="#">Store</a></li>
  <li class="active">{{productId.name}}</li>
</ol>

<br/>

<div class="row">
  <div class="col-md-4">
    <img src="{{productId.image_urls['300x400'][0].url}}" alt="{{productId.name}}"/>
  </div>
  <div class="col-md-8">
    <div class="page-header">
      <h1>{{productId.name}}<br/><small>productId.brand</small></h1>
    </div>
    <p>{{productId.content.description}}</p>
    <p>Material: {{productId.content.material}}</p>
    <p ng-repeat="attribute in productId.skus[0].attributes">{{attribute.name}}: {{attribute.value}}</p>
    <p>Origin: {{productId.content.origin}}</p>
    <br/>
    <p>
      <del class="text-muted"><small>{{productId.skus[0].msrp_price}}</small></del>
      <strong class="text-primary">{{productId.skus[0].sale_price}}</strong>
    </p>
  </div>
</div>