/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 80px;
  padding-bottom: 20px;
}

.row img {
  max-width: 100%;
}

.col-md-4:nth-child(3n + 1) {
  clear: left;
}
div[class*='col-'] {
  margin-bottom: 40px;
}

.animate {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all 0.4s ease 0s;
}
.animate.ng-enter {
  top: -50px;
  opacity: 0;
}

.breadcrumb {
  text-transform: capitalize;
}