<div class="page-header">
    <h1>Current sales for {{salesStore}}</h1>
</div>

<div class="row">
    <div class="animate col-md-4" ng-repeat="sale in currentSales">
        <img src="{{sale.image_urls['315x295'][0].url}}" alt="{{sale.name}}"/>
        <h2>{{sale.name}}</h2>
        <p>{{sale.description}}</p>
        <p><a class="btn btn-info" role="button" href="#/sales/{{sale.store}}/{{sale.sale_key}}">View more &raquo;</a></p>
    </div>
</div>