<ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/sales/{{sale.store}}">{{sale.store}}</a></li>
    <li class="active">{{sale.name}}</li>
</ol>

<div class="page-header">
    <h1>{{sale.name}}<br/><small>{{sale.description}}</small></h1>
    <p class="text-warning">Closes on {{saleEnd}}</p>
</div>

<div class="row">
    <div class="animate col-md-4" ng-repeat="product in saleProducts">
        <img src="{{product.image}}" alt="{{product.name}}"/>
        <h2>{{product.name}}</h2>
        <p class="text-muted">{{product.brand}}</p>
        <p>
            <del class="text-muted"><small>{{product.usual_price}}</small></del>
            <strong class="text-primary">{{product.sale_price}}</strong>
        </p>
        <p><a class="btn btn-info" role="button" href="#/products/{{product.id}}">View more &raquo;</a></p>
    </div>
</div>